 /* responsiveness */
 @media (min-width: 768px) {
    .top-navigation {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .top-navigation .search-form .search-field {
      display: inline-block;
      width: 80%;
    }
  }

  .card{
    padding: 3%;
    box-shadow: 3px 3px 2px greenyellow;
}
.card:hover{
    padding: 5px;
    box-shadow: 6px 5px 6px #2196F3;
    cursor: pointer;
    
}  